<div class="row">
    <div class="span12">
        <div class="panel">
            <div class="panel-header text-left">
                <a href="{{url}}" class="fg-lightBlue">{{title}}</a>
            </div>
            <div class="padding5">
                <span class="fg-lightBlue">{{toLongDate date}}</span>
                {{#each tags}}
                <a href="/tag/{{this}}" class="bg-grayLight fg-white padding2">{{this}}</a>
                {{/each}}
            </div>
            <div class="panel-content">
                {{{preview}}}
            </div>
        </div>
    </div>
</div>

<!--<article class="content-item blog-post">
        <header>
            <h1><a href="{{url}}">{{title}}</a></h1>
            <p class="tags">
                <span>Tags:</span>
                {{#each this.tags}}
                <a href="/tag/{{this}}">{{this}}</a>
                {{/each}}
            </p>

            <div class="metadata">
                <div class="published">{{toLongDate date}}</div>
            </div>
        
            <div>
                {{{preview}}}
            </div>
        </header>
    </article>-->