<!DOCTYPE html>
<html class="dyn orchard-blogs" lang="en-US">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        {{#if description}}<meta name="description" content="{{{description}}}">{{/if}}
                           <title>{{#if title}}{{{title}}}{{else}}Jan Blaha - blog about software development{{/if}}</title>
                           <link rel="stylesheet" href="/css/blog.min.css?v=2">
                           <script src="/js/blog.min.js?v=1"></script>
                           <link href="/img/favicon.png" rel="shortcut icon" type="image/x-icon">
                           {{#if linkDocCss}}
                           <link href="/css/github.css?v=4" rel="stylesheet">
                           {{/if}}          
    </head>
    <body class="metro" style="background-color: #f8f4ef">
        <header class="bg-dark" data-load="header.html">
            <div class="navigation-bar dark">
                <div class="navigation-bar-content container">
                    <a href="/" class="element"><img src="/img/favicon.png" width="25px" height="25px" class="on-left"></span>janblaha.net</a>
                    <a class="pull-menu" href="#"></a>
                    <a href="/about-me" class="element place-right"><span></span>About Me</a>
                    <a href="/current-projects" class="element place-right"><span></span>Current Projects</a>
                    <a href="/blog" class="element place-right"><span></span>Blog</a>
                </div>
            </div>
        </header>

        <div>
            <div class="padding5 bg-cyan ">
                <div class="container fg-white">
                    <div class="grid fluid">
                        <div class="row">
                            <h1 class="fg-white text-center">Jan Blaha</h1>
                        </div>
                        <div class="row">
                            <div class="text-center span8 offset2">
                                <p class="fg-white">
                                   Blog about software development
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div style="height: 70px;" class="bg-blue fg-white">-->
                <!--<div class="container">-->
                    <!--<h1>Jan Blaha</h1>-->
                    <!--<h2>Software developer & consultant-->
                    <!--</h2>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="bg-white underbanner">-->
                <!--<div class="container">-->
                <!--</div>-->
            <!--</div>-->

            <div class="container">
                <div class="grid">
                    <div class="row">
                        <div class="span11">
                            {{{fixCoding body}}}
                        </div>
                        {{#if showTweets}}
                        <div class="span3 no-phone" style="float: right; padding-top: 5px;">
                            <h2>lastest tweets
                                <a href="https://twitter.com/jan_blaha" class="twitter-follow-button" data-dnt="true" data-show-count="false">Follow @jan_blaha</a>
                                <script> !function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs'); </script> 
                            </h2> 
                            {{> last-tweets lastTweets}}
                        </div>
                        {{else}}
                        <div class="span3" style="float: right; padding-top: 5px;">
                            <a href="/blog">
                                <h2>last blog posts </h2>
                            </a>
                            {{> last-posts lastPosts}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-dark">
            <div class="container" style="padding: 10px 0;">

                <div class="grid no-margin">
                    <div class="row no-margin">
                        <div class="span3 padding10">
                            <img src="/img/jan_blaha.jpg" alt="Jan Blaha" class="polaroid">
                        </div>
                        <div class="span6 padding10">
                            <h3 class="fg-white">About author</h3>
                            <p class="fg-white">
                                Hi! My name is Jan Blaha. I'm software developer and startup enthusiastic.
                                See my current work.
                            </p>
                        </div>
                        <div class="span3 padding10">
                            <a class="button warning " style="width: 100%; margin-bottom: 5px" href="http://jsreport.net">jsreport</a>
                            <a class="button success " style="width: 100%; margin-bottom: 5px" href="http://mobilefieldreport.com">mobile field report</a>
                            <a class="button info " style="width: 100%; margin-bottom: 5px" href="http://postuj.cz">postuj.cz</a>
                        </div>
                        <a  style="display:none" class="element place-right" id="jsr-root" data-iframe="false" data-format="A4" data-orientation="portrait" data-color="black" ></a>
                        <script>
                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//pagetopdf.com/js/widget.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'jsr-pagetopdf'));
                        </script>
                    </div>
                </div>
            </div>
        </div>
    
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-50108503-1', 'janblaha.net');
            ga('send', 'pageview');

        </script>
    </body>
</html>