<h2>about me</h2>


<img src="img/jan_blaha.jpg" alt="Jan Blaha" class="polaroid" width="160" height="200" style="float: left; margin-right:10px">
<p class="padding10">
    My name is <strong>Jan Blaha</strong> and I am software engineer and senior software consultant. I come from Czech Republic where I am currently
    located in Prague.
</p>

<p>
    I have spent 8 years as a .NET developer helping big companies deploying enterprise systems, but my recent activities are focusing on open
    source and startup projects. You can read more about my current projects <a href="/current-projects">here</a>.
</p>

<p>My expertise covers: </p>
<ul>
    <li>Windows Azure</li>
    <li>node.js</li>
    <li>javascript</li>
    <li>c#</li>
</ul>

<p>
    You can contact me with any questions regarding to mentioned technologies on the twitter @jan_blaha or mail "jan.blaha at hotmail.com".
</p>

<blockquote>
    Moto:
    The biggest achievment of mine ín the field of sotware development is keeping level of Ballmer peak for three weeks in the summer 2012. :)
</blockquote>