<div class="container">
    <h1>About Me</h1>

    <p>
        My name is Jan Blaha and I am software architect and senior consultant mainly focusing on Microsoft .NET technologies. I come from Czech Republic 
        and I am currently enjoying lifestyle in Prague.
    </p>

    <p>
        I have spent 8 years as a .NET developer helping big companies deploying enterprise systems, but my recent activities are focusing on startup 
        projects where I am participating as a solution architect. My current biggest challange is lead the team of developers and design scalable 
        system working for thousands of tenants. You can read more about my current projects here.
    </p>

    <p>My currently running projects are using many technologies, but the biggest pleasure to work with is:</p>
    <ul>
        <li>Windows Azure in thousands of ways including federation or service bus</li>
        <li>Orchard CMS for websites or help systems</li>
        <li>Sharepoint for Office integration</li>
        <li>node.js</li>
        <li>Backbone Javascript Single Page Applications for excelent HTML UI </li>
        <li>c# as backend</li>
    </ul>

    <p>
        You can contact me with any questions regarding to mentioned technologies on the twitter @jan_blaha or mail "jan.blaha at hotmail.com".
    </p>

    <p>
        Moto:
        The biggest achievment of mine ín the field of sotware development is keeping level of Ballmer peak for three weeks in the summer 2012. :)
    </p>
    
</div>