<div class="container">
    <header>
        <h1>Current projects</h1>
    </header>

    <h4><a href="http://jsreport.net">jsreport.net</a></h4>
    <p>jsreport is an open source reporting platform dedicated to developers who whants to design and render business reports. 
        It is mainly based on javascript templating engines and html to pdf conversion using phantomjs. It's distributed as free 
        on premise installation or cloud based SaaS service.
    </p>
    <p><a target="_blank" href="/img/jsreport.png">
           <img alt="jsreport" width="600" src="/img/jsreport.png"> 
       </a>
    </p>

    <h4><a alt="mobile field report" href="http://mobilefieldreport.com">mobilefieldreport.com</a></h4>
    <p>Mobile Field Report is a SAS project helping mobile workers in the field. It consists of html based portal and iPad client. 
        It is supporting advanced features like job scheduling, building tree of job tasks, time tracking or offline client 
        synchronizing. Solution is build on .NET and hosted in Windows Azure. Application is highly scalable using Azure cloud services 
        and SQL database federation.
    </p>
    <p><a target="_blank" href="/img/mfr%20screen.png">
           <img src="/img/mfr%20screen.png" width="600"> 
       </a>
    </p>

    <h4><a href="http://postuj.cz">postuj.cz</a></h4>
    <p>Postuj.cz is Czech community social project joining diferent people interested in specific location and specific category. 
        Project is implemented as SPA using .NET and Windows Azure hosting.
    </p>
    <p><a target="_blank" href="/img/postuj%20screen.png">
           <img alt="postuj.cs" src="/img/postuj%20screen.png" width="600"> 
       </a>
    </p>
</div>