<div class="padding15">
    <div style="padding: 0 0 40px 0">
        <h3><a href="http://jsreport.net">jsreport.net</a></h3>
        <p>jsreport is an <a href="https://github.com/jsreport/jsreport">open source</a> reporting platform dedicated to developers who whants to design and render business reports. 
            It is mainly based on javascript templating engines and html to pdf conversion using phantomjs. It's distributed as free 
            on premise installation or cloud based SaaS service.
        </p>
        <p>
            Solution is implemented in node.js and backbone.
        </p>
        <p><a target="_blank" href="/img/jsreport-screen.png">
               <img alt="jsreport" width="600" src="/img/jsreport-screen.png"> 
           </a>
        </p>
    </div>
    
    <div style="padding: 0 0 40px 0">
        <h3><a  href="http://mobilefieldreport.com">mobilefieldreport.com</a></h3>
        <p>Mobile Field Report is cloud based SAAS project helping mobile workers in the field. It consists of html based portal and iPad client. 
            It is supporting advanced features like job scheduling, building tree of job tasks, time tracking or offline client 
            synchronizing. 
        </p>    
        <p>
            Solution is build on .NET and hosted in Windows Azure. Application is highly scalable using Azure cloud services 
            and SQL database federation.
        </p>
        <p><a target="_blank" href="/img/mfr%20screen.png">
               <img alt="mobile field report" src="/img/mfr%20screen.png" width="600"> 
           </a>
        </p>
    </div>
    
    <div style="padding: 0 0 40px 0">
        <h3><a href="http://postuj.cz">postuj.cz</a></h3>
        <p>
            Postuj.cz is Czech community social project joining diferent people interested in specific location and specific category. 
        </p>
        <p>
            Project is implemented as SPA using .NET, backbone and Windows Azure hosting.
        </p>
    
        <p><a target="_blank" href="/img/postuj-screen.png">
               <img alt="postuj.cs" src="/img/postuj-screen.png" width="600"> 
           </a>
        </p>
    </div>
</div>