<div class="row"><a href="/current-projects"><h2>currently running projects</h2></a></div>
<div class="row">
    <a href="http://jsreport.net">
        <div class="tile double" data-role="live-tile">
            <div class="tile-content image">
                <img src="/img/jsreport.png"/>
            </div>
            <div class="tile-content image">
                <img src="/img/jsreport1.png"/>
            </div>
            <div class="tile-status bg-dark opacity">
                <strong class="name">jsreport.net</strong>
            </div>
        </div>
    </a>
    <a href="http://www.mobilefieldreport.com">
        <div class="tile double" data-role="live-tile">
            <div class="tile-content image">
                <img src="/img/mfr.png"/>
            </div>
            <div class="tile-content image">
                <img src="/img/mfr1.png"/>
            </div>
            <div class="tile-status bg-dark opacity">
                <strong class="name">mobilefieldreport.com</strong>
            </div>
        </div>
    </a>
    <a href="http://postuj.cz">
        <div class="tile double"  data-role="live-tile">
            <div class="tile-content image">
                <img src="/img/postuj.png"/>
            </div>
            <div class="tile-content image">
                <img src="/img/postuj1.png"/>
            </div>
            <div class="tile-status bg-dark opacity">
                <h4 class="name">postuj.cz</h4>
            </div>
        </div>
    </a>
</div>

    <div class="row">                  
    <div class="span10">        
       <a href="/blog"><h2>last blog posts </h2></a>
       {{> last-posts lastPosts}}
                        
    </div>
    </div>
<div class="row">
    <div class="span11">
        <div class="row"><h2 class="span6">blog tags</h2></div>
        <div class="row">
            <a href="/tag/architecture">
                <div class="tile bg-lightBlue">
                    <div class="tile-content icon">
                        <i class="icon-tag"></i>
                    </div>
                    <div class="tile-status">
                        <h3 class="fg-white name">architecture</h3>
                    </div>
                </div>
            </a>
            <a href="/tag/csharp">
                <div class="tile bg-orange">
                    <div class="tile-content icon">
                        <i class="icon-tag"></i>
                    </div>
                    <div class="tile-status">
                        <h3 class="fg-white name">c#</h3>
                    </div>
                </div>
            </a>
            <a href="/tag/nodejs">
                <div class="tile bg-teal">
                    <div class="tile-content icon">
                        <i class="icon-tag"></i>
                    </div>
                    <div class="tile-status">
                        <h3 class="fg-white name">nodejs</h3>
                    </div>
                </div>
            </a>
            <a href="/tag/jsreport">
                <div class="tile bg-green">
                    <div class="tile-content icon">
                        <i class="icon-tag"></i>
                    </div>
                    <div class="tile-status">
                        <h3 class="fg-white name">jsreport</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>