<div class="container">
    <div class="grid fluid ">
        <div class="row">
            <div class="span1"></div>
            <div class="span10">
                <div id="documentation" class="documentation" >    
                    <div style="padding-bottom: 20px">
                        <h1 class="bg-lightBlue fg-white padding5">{{post.title}}</h1>
                        <div>
                            <span class="post-date">{{toLongDate post.date}}</span>
                
                            {{#each post.tags}}
                            <a href="/tag/{{this}}" class="bg-cyan fg-white padding5">{{this}}</a>
                            {{/each}}
                        </div>
                    </div>
                    <div>
                        {{{post.content}}}
                    </div>
            
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <div class="span1"></div>
        </div>
    </div>
</div>
    

<script type="text/javascript">
    var disqus_shortname = 'janblaha';
    var disqus_developer = 1;

    var disqus_url = '{{url}}';
    var disqus_identifier = '{{id}}';

    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>