<div class="grid fluid">
    <div class="row">
        <div class="span12">
            <div id="documentation" class="documentation" >    
                <div style="padding-bottom: 20px">
                    <h1>{{post.title}}</h1>
                    <div>
                        <span class="post-date">{{toLongDate post.date}}</span>
                
                        {{#each post.tags}}
                        <a href="/tag/{{this}}" class="bg-grayLight fg-white padding2">{{this}}</a>
                        {{/each}}
                    </div>
                </div>
                <div>
                    {{{post.content}}}
                </div>
            
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'janblahablog';
                    var disqus_developer = 1;

                    var disqus_url = '{{{post.fullUrl}}}';
                    var disqus_identifier = '{{{post.id}}}';

                    (function() {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
            </div>
        </div>
      
    </div>
</div>